<launch>

  <!--Include robot description-->
  <include file="$(find robot)/launch/robot.launch">
    <arg name="visualize" value="false" />
  </include>

  <!--Include description and control launch files-->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="filters" value="pointcloud" />
  </include>

	<!--camera_to_world_point_cloud  node-->
	<!-- <node name="camera_to_world_point_cloud" pkg="object_detection" type="camera_to_world_point_cloud"
    respawn="false" output="screen">
  </node> -->

  <node pkg="object_detection" name="object_detection_pipeline" type="object_detection_pipeline_cpp" output="screen">
  </node>

  <node name="rviz_object_detection" pkg="rviz" type="rviz" args="-d $(find object_detection)/rviz/object_detection.rviz" required="true" />

</launch>
