<launch>

  <arg name="visualize" default="true" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find robot)/urdf/robot.urdf.xacro'" />

  <!--node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"-->
    <!--param name="use_gui" value="true"/-->
    <!--param name="rate" value="50"/-->
  <!--/node-->

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <arg name="gui" default="True" />
  <param name="use_gui" value="$(arg gui)"/>

  <group if="$(arg visualize)">
    <node name="rviz_robot" pkg="rviz" type="rviz" args="-d $(find robot)/rviz/robot_model.rviz"/>
  </group>

</launch>
